<!DOCTYPE html>
<html>
<head>
  <title><%= coin.name %> page</title>
</head>
<body>
	<nav>
		<a href="/coins">Index of all coins</a>
	</nav>

  <h1><%= coin.name %> page</h1>

  <ol>
		<li>
			name: <%= coin.name %>

			Is made of: <%= coin.content%>

			Design: <%= coin.design%>
		</li>
	</ol>
  

</body>
</html>